.list{
    &-container {
        display: block;
        margin: 0 auto;
        width: 60vw;
        max-width: 40em;
        list-style-type: none;
    }

    &-element {
        /* width: 60vw;
        max-width: 20em; */
        display: flex;
        justify-content: space-between;
        min-height:fit-content; 
        padding: 2rem;
        margin: 0.5em 0;
        border: 1.5px solid #5a5247;
        border-radius: 0.5em;
        color: #ffff;
        font-size: 1.3em;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px; 
}

.clicked {
    background-color: #506843;
}

.unclicked {
    background-color: darkgray;
}
