ul {
    position:absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    /* margin: 2em 0; */
    /* display: block; */
    width: 60vw;
    max-width: 40em;
    list-style-type: none;
}

li {
    /* width: 60vw;
    max-width: 20em; */
    display: block;
    min-height:fit-content; 
    padding: 2rem;
    margin: 0.5em 0;
    border: 1.5px solid #5a5247;
    border-radius: 0.5em;
    color: #ffff;
    font-size: 1.3em;
}

.clicked {
    background-color: #506843;
}

.unclicked {
    background-color: darkgray;
}